body {
    margin: 0;
    padding: 0;
    font-family: rubik;
}
.left-div {
      display: flex;
      margin: 15px 30px;
}
.right-div {
    margin: 15px 40px;
    display: flex;
    gap: 18px;
    font-weight: bold;
}
.service {
    font-weight: bold;
    list-style: none;
    gap: 30px;
    display: flex;
    align-items: center;
    margin: 0;
}
.service li:hover {
    color: #1a73e8;
}
.me {
    margin: 0;
}
.menu {
    font-size: 25px;
    display: none;
}
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    box-sizing: border-box;
    position: fixed;
    top: 0;
    background-color: aliceblue;
}
.log-btn {
    border: none;
    background: none;
    font-weight: bolder;
}
.log-btn:hover {
    color: #1a73e8;
}
.demo-btn {
    font-weight: bold;
    border: 2px solid #fc5b1a;
    border-radius: 10px;
    background-color: #fff;
    color: #fc5b1a;
    padding: 12px 16px;
}
.demo-btn:hover {
    background-color: #fc5b1a;
    color: #fff;
}
.sign-btn {
    font-weight: bold;
    border: 2px solid #1a73e8;
    border-radius: 10px;
    background-color: #1a73e8;
    color: #fff;
    padding: 12px 16px;
}
.sign-btn:hover {
background-color: #fff;
color: #1274f5;
}
.me i {
    color: #1a73e8;
}
.info {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    margin-top: 70px;
}
.info img {
    width: 100%;
}
.learn {
    padding: 18px 25px;
    border: 1px solid black;
    border-radius: 15px;
    color: #fff;
    background-color: black;
    font-weight: bold;

}
.hi {
    color: #1274f5;
}
.end {
    font-weight: bold;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    justify-content: space-between;
    gap: 15px;
    font-family: 'Times New Roman', Times, serif;
    margin-left: 40px;
}
.end li:hover {
    color: #1a73e8;
}
.end ul li {
    margin-bottom: 10px;
}
.find ul{
    margin: 0;
    align-items: center;
    padding: 0;
    margin-top: 5px;
} 
.find {
    margin-top: 20px;
}
.see {
    display: flex;
    align-items: center;
    gap: 10px;
}
.see img {
    border-radius: 10px;
}
.find li {
    list-style: none;
    font-weight: lighter;
    align-items: center;
}
@media (max-width: 600px) {
    .menu {
        display: block;
        margin-right: 10px;
    }
    .right-div {
        display: none;
    }
    .service {
        display: none;
    }
    .get {
        display: none;
    }
    .info {
        display: flex;
        flex-direction: column;
        text-align: center;
    }
    .end{
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
}